<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".VehicleRentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VehicleRentApp">

        <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ROLE SELECTION -->
        <activity android:name=".RoleSelectionActivity" android:exported="false" />

        <!-- OWNER DASHBOARD -->
        <activity android:name=".OwnerDashboardActivity" android:exported="false" />

        <!-- ADD VEHICLE -->
        <activity android:name=".AddVehicleActivity" android:exported="false" />

        <!-- EDIT VEHICLE -->
        <activity android:name=".EditVehicleActivity" android:exported="false" />

        <!-- CUSTOMER DASHBOARD -->
        <activity android:name=".CustomerDashboardActivity" android:exported="false" />

        <!-- VEHICLE DETAIL -->
        <activity android:name=".VehicleDetailActivity" android:exported="false" />

    </application>
</manifest>
